body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-theme {
  background-color: #61dafb !important;
}
.color-theme {
  color: #61dafb !important;
}
.table-bordered{
  height: 500px;
}
.table-bordered td, .table-bordered th {
  border: 5px solid #61dafb;
  background: rgba(255,255,255,.05);
  font-size:40px;
  font-weight: 900;
  width:20%;
  cursor: pointer;
}